# Pandas Crash Course

We'll use numpy a lot more than pandas, but here is a quick taste in case you haven't seen it before.

In [0]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')

FileNotFoundError: ignored

In [0]:
df

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [0]:
df['Name']

0      John
1     Sally
2    Alyssa
Name: Name, dtype: object

In [0]:
df['Salary']

0     50000
1    120000
2     80000
Name: Salary, dtype: int64

In [0]:
df[['Name','Salary']]

     Name  Salary
0    John   50000
1   Sally  120000
2  Alyssa   80000

In [0]:
df['Age']

0    34
1    45
2    27
Name: Age, dtype: int64

In [0]:
df['Age'].mean()

35.333333333333336

In [0]:
df['Age'] > 30

0     True
1     True
2    False
Name: Age, dtype: bool

In [0]:
age_filter = df['Age'] > 30

In [0]:
df[age_filter]

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [0]:
df[df['Age'] > 30]

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45